* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Source Sans Pro';
}

#Header {
    position: relative;
    max-width: 100%;
    width: 100vw;
    height: 15vh;
    background-color: red;
}

#Label {
    top: 1vh;
    position: relative;
    width: 50vw;
    min-height: 70px;
    background-color: green;
    margin: auto;
    text-align: center;
}

#Content {
    position: relative;
    width: 50vw;
    height: min-content;
    min-height: 100px;
    margin: auto;
}

.itemList {
    width: 100%;
    height: 60px;
    position: relative;
    border: 3px blue solid;
    margin-top: 15px;
}

.buttonContainer {
    position:absolute;
    right: 10px;
}

#blkPage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

.whiteBlock {
    top:5vh;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    z-index: 2;
    justify-content: center;

    
}

.cardRow {
    margin: auto;
    height: fit-content;
    width: fit-content;
}

textarea {
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;
    font-size: 25px;
}

#titleBox {
    height: fit-content;
    width: fit-content;
    position: relative;
    margin: 10px auto;
}

#addCard {
    margin: auto;
    height: fit-content;
    width: fit-content;
}


#buttonRow {
    margin: auto;
    height: fit-content;
    width: fit-content;
}